* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #393646;
  color: #F4EEE0;
}

h1 {
  font-size: 5rem;
  color: #F4EEE0;
  line-height: .8;
  margin: 5rem 6rem;
}

main {
  /* MODIFY THIS */
  /* width: inherit;  */
  margin: 3rem ;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem 6rem;
}

/* #siteLogo {
  width: 250px;
  z-index: 2;
  grid-area: 1 / 1 / 3/ 2;
} */

section {
  background-color: #6D5D6E;
  padding: 2rem;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 6;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

section img {
  width: 30%;
  max-height: 17rem;
  border: 5px solid transparent;
}
section img:hover {
  border: 5px solid hover border #6D5D6E;
  cursor: pointer;
}
div {
  color: rgb(16, 18, 53);
  padding: .5rem 1rem;
  border-width: 1rem;
  /* width: max-content;
  height: max-content; */
  font-size: .8rem;
  margin: 1rem;
  grid-area: 4 / 1 / 4 / 4;
}

#chart {
  grid-area: 1 / 1 / 6 / 6;
}

/* ul {
  margin: 1rem;
  line-height: normal;
} */

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #2A2F4F;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
